@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-primary: #ffffff;
  --color-secondary: #f9f9f9;
  --color-text: #212121;
  --color-text-secondary: #b4b4b4;
  --color-text-tertiary: #2f2f2f;
  --color-blue: #5597e0;
  --color-dblue: #097bed;
  --color-brown: #c18781;
  --color-yellow: #c6a65c;
  --color-accent: #fe6c37;
  --color-accent-fade: #feaf91;
  --color-accent-dark: #e05320;
  --color-accent2: #e6e6e6;
}

@layer base {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input:focus {
 outline: 0;
}

  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-text);
  }

  section, main, header, footer {
    @apply max-container
  }
}


/* @layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
} */

@utility max-container {
     max-width: 1440px;
    margin: 0 auto;
}

@utility flexbox {
    display: flex;
    align-items: center;
}


@utility gborder {
  @apply border-[1.5px]
}
@utility bborder {
  @apply border-b
}



@utility testb {
   @apply border border-red-400
}